* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}
.carousel-inner img {
  height: 55rem;
  width: 80%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}
.navbar {
  background-color: #e75480;
}
.nav-link:hover {
  background-color: #f08080;
}
.navbar-brand img {
  width: 100%;
  height: 11rem;
}
.gallery:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
h1 {
  color: #e75480;
}
.card {
  float: left;
  width: 18rem;
}
.card_shoulder1 {
  height: 20.5rem;
}
.card_shoulder2 {
  height: 20.5rem;
}
.card_shoulder3 {
  height: 20.5rem;
}
.card_shoulder5 {
  height: 19.7rem;
}
.card_shoulder6 {
  height: 19.7rem;
}
.card_shoulder7 {
  height: 15rem;
}
.card_shoulder8 {
  height: 15rem;
}

.card_backpack1 {
  height: 19rem;
}
.card_backpack2 {
  height: 19rem;
}
.card_backpack3 {
  height: 19rem;
}
.card_backpack4 {
  height: 19.7rem;
}
.card_backpack5 {
  height: 19.7rem;
}

.card_all15 {
  height: 17.7rem;
}
.card_all16 {
  height: 17.7rem;
}
.card_all17 {
  height: 17.7rem;
}
.card_all18 {
  height: 17.7rem;
}
.card_all19 {
  height: 17.7rem;
}
.card_all20 {
  height: 17.7rem;
}
.card_all21 {
  height: 12.7rem;
}
.card_all22 {
  height: 12.7rem;
}
.card_all23 {
  height: 17.7rem;
}
.card_all24 {
  height: 17.7rem;
}
.card_all25 {
  height: 17.7rem;
}
.card_all26 {
  height: 17.7rem;
}
.card_all27 {
  height: 17.7rem;
}
hr{
  color: #e75480;
}
/* Responsive Code */
@media (max-width: 280px) {
  .card_shoulder1 {
    width: 18rem;
  }
  .card_shoulder2 {
    width: 18rem;
  }
  .card_shoulder3 {
    width: 18rem;
  }
  .card_shoulder4 {
    width: 18rem;
  }
  .card_shoulder5 {
    width: 18rem;
  }
  .card_shoulder6 {
    width: 18rem;
  }
  .card_shoulder7 {
    width: 18rem;
  }
  .card_shoulder8 {
    width: 18rem;
  }
  footer {
    width: 21.9rem;
  }
}

@media (max-width: 320px) {
  .navbar-brand img {
    margin-left: 1.2rem;
  }
  .navbar {
    width: 22.6rem;
  }
  .card {
    width: auto;
  }
}

@media (max-width: 360px) {
  .carousel-inner img {
    height: 30rem;
    width: 80%;
  }
  .navbar-brand img {
    margin-left: 1.3rem;
  }
  .card {
    width: auto;
  }
  .card_handle13{
    width: 5rem;
  }
}

@media (max-width: 411px) {
  .carousel-inner img {
    height: 30rem;
    width: 100%;
  }
  .card {
    width: auto;
  }
  .card_shoulder4 {
    width: 21.8rem;
  }
  .card_shoulder7 {
    width: 21.8rem;
  }
  .card_shoulder8 {
    width: 21.8rem;
  }
}

@media (max-width: 414px) {
  .carousel-inner img {
    height: 30rem;
    width: 80%;
  }
  .card {
    width: auto;
  }
}

@media (max-width: 540px) {
  .carousel-inner img {
    height: 30rem;
    width: 80%;
  }
  .card {
    width: auto;
  }
}

@media (max-width: 768px) {
  .card {
    width: auto;
  }
  .card_shoulder1 {
    width: 29.8rem;
  }
  .card_shoulder2 {
    width: 29.8rem;
  }
  .card_shoulder3 {
    width: 29.8rem;
  }
  .card_shoulder4 {
    width: 29.8rem;
  }
  .card_shoulder5 {
    width: 29.8rem;
  }
  .card_shoulder6 {
    width: 29.8rem;
  }
  .card_shoulder8 {
    width: 29.8rem;
  }
  .card_handle13{
    width: 29.8rem;
  }
  .card_backpack1 {
    width: 24rem;
  }
  .card_backpack2 {
    width: 24rem;
  }
  .card_backpack3 {
    width: 24rem;
  }
  .card_backpack4 {
    width: 24rem;
  }
  .card_backpack5 {
    width: 24rem;
  }
  .card_all15{
    width: 30rem;
  }
  .card_all16{
    width: 30rem;
  }
  .card_all17{
    width: 30rem;
  }
  .card_all18{
    width: 30rem;
  }
  .card_all19{
    width: 30rem;
  }
  .card_all20{
    width: 30rem;
  }
  .card_all21{
    width: 30rem;
  }
  .card_all22{
    width: 30rem;
  }
  .card_all23{
    width: 30rem;
  }
  .card_all24{
    width: 29.6rem;
  }
  .card_all25{
    width: 30rem;
  }
  .card_all26{
    width: 30rem;
  }
  .card_all27{
    width: 30rem;
  }
}

/* @media (max-width: 1024px) {
  .carousel-inner img {
    height: 30rem;
    width: 80%;
  }
  .nav-item {
    font-size: 0.9rem;
  }
  .card {
    width: auto;
  }
  .card_shoulder1 {
    height: 20rem;
    width: 40.7rem;
  }
  .card_shoulder2 {
    width: 40.7rem;
  }
  .card_shoulder3 {
    width: 40.7rem;
  }
  .card_shoulder4 {
    height: 20.6rem;
    width: 40.7rem;
  }
  .card_shoulder5 {
    width: 40.7rem;
  }
  .card_shoulder6 {
    width: 40.7rem;
  }
  .card_shoulder8 {
    height: 20rem;
    width: 40.7rem;
  }
  .card_backpack5 {
    width: 40.4rem;
  }
}

@media (max-width: 1280px) {
  .carousel-inner img {
    height: 30rem;
    width: 80%;
  }
  .card {
    width: auto;
  }
  .nav-item {
    font-size: 0.9rem;
  }
  .card_shoulder7 {
    height: 19.8rem;
  }
  .card_shoulder1 {
    height: 20rem;
  }
  .card_shoulder4 {
    height: 20.6rem;
  }
  .card_shoulder8 {
    height: 20rem;
  }
  .card_backpack5 {
    width: 20rem;
    height: 21rem;
  }
} */
